In [1]:
import pandas as pd
df=pd.read_csv("survey.csv")

In [2]:
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [3]:
df.dtypes

Timestamp                    object
Age                           int64
Gender                       object
Country                      object
state                        object
self_employed                object
family_history               object
treatment                    object
work_interfere               object
no_employees                 object
remote_work                  object
tech_company                 object
benefits                     object
care_options                 object
wellness_program             object
seek_help                    object
anonymity                    object
leave                        object
mental_health_consequence    object
phys_health_consequence      object
coworkers                    object
supervisor                   object
mental_health_interview      object
phys_health_interview        object
mental_vs_physical           object
obs_consequence              object
comments                     object
dtype: object

In [6]:
df.benefits.unique()

array(['Yes', "Don't know", 'No'], dtype=object)

In [8]:
new_df=df.groupby(['state', 'benefits']).size()
print(new_df)

state  benefits
AL     Don't know     3
       No             1
       Yes            4
AZ     No             2
       Yes            5
CA     Don't know    42
       No            12
       Yes           84
CO     Don't know     2
       No             2
       Yes            5
CT     Don't know     1
       No             1
       Yes            2
DC     Don't know     2
       Yes            2
FL     Don't know     5
       No             4
       Yes            6
GA     Don't know     2
       No             1
       Yes            9
IA     Don't know     2
       Yes            2
ID     No             1
IL     Don't know     8
       No             4
       Yes           17
IN     Don't know     9
       No             6
                     ..
RI     Don't know     1
SC     Don't know     1
       No             2
       Yes            2
SD     Don't know     1
       Yes            2
TN     Don't know    16
       No             8
       Yes           21
TX     Don't know    16
       No            11
       Yes           17
UT     Don't know     3
       No             5
       Yes            3
VA     Don't know     3
       No             3
       Yes            8
VT     Don't know     1
       No             1
       Yes            1
WA     Don't know    15
       No            11
       Yes           44
WI     Don't know     2
       No             4
       Yes            6
WV     No             1
WY     Don't know     1
       No             1
Length: 111, dtype: int64