In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
df=pd.read_csv("survey.csv")

In [2]:
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [3]:
df.dtypes

Timestamp                    object
Age                           int64
Gender                       object
Country                      object
state                        object
self_employed                object
family_history               object
treatment                    object
work_interfere               object
no_employees                 object
remote_work                  object
tech_company                 object
benefits                     object
care_options                 object
wellness_program             object
seek_help                    object
anonymity                    object
leave                        object
mental_health_consequence    object
phys_health_consequence      object
coworkers                    object
supervisor                   object
mental_health_interview      object
phys_health_interview        object
mental_vs_physical           object
obs_consequence              object
comments                     object
dtype: object

In [24]:
print(df[["state", "treatment"]].head())

  state treatment
0    IL       Yes
1    IN        No
2   NaN        No
3   NaN       Yes
4    TX        No

In [19]:
df.treatment.unique()

array(['Yes', 'No'], dtype=object)

In [6]:
df.state.unique()

array(['IL', 'IN', nan, 'TX', 'TN', 'MI', 'OH', 'CA', 'CT', 'MD', 'NY',
       'NC', 'MA', 'IA', 'PA', 'WA', 'WI', 'UT', 'NM', 'OR', 'FL', 'MN',
       'MO', 'AZ', 'CO', 'GA', 'DC', 'NE', 'WV', 'OK', 'KS', 'VA', 'NH',
       'KY', 'AL', 'NV', 'NJ', 'SC', 'VT', 'SD', 'ID', 'MS', 'RI', 'WY',
       'LA', 'ME'], dtype=object)

In [14]:
America=df[df["Country"]=="United States"]

In [20]:
new_df=America.groupby(['Country','state', 'treatment']).size()
print(new_df)

Country        state  treatment
United States  AL     No            1
                      Yes           7
               AZ     No            1
                      Yes           6
               CA     No           52
                      Yes          86
               CO     No            5
                      Yes           4
               CT     No            2
                      Yes           2
               DC     No            3
                      Yes           1
               FL     No            7
                      Yes           8
               GA     No            6
                      Yes           6
               IA     No            1
                      Yes           3
               ID     Yes           1
               IL     No            9
                      Yes          19
               IN     No           14
                      Yes          13
               KS     No            3
               KY     No            4
                      Yes           1
               LA     Yes           1
               MA     No           10
                      Yes          10
               MD     No            5
                                   ..
               NY     Yes          30
               OH     No           10
                      Yes          20
               OK     No            4
                      Yes           2
               OR     No           12
                      Yes          17
               PA     No           15
                      Yes          14
               RI     No            1
               SC     No            3
                      Yes           2
               SD     No            2
                      Yes           1
               TN     No           27
                      Yes          18
               TX     No           19
                      Yes          25
               UT     No            4
                      Yes           6
               VA     No            8
                      Yes           6
               VT     No            3
               WA     No           29
                      Yes          41
               WI     No            3
                      Yes           9
               WV     No            1
               WY     No            1
                      Yes           1
Length: 81, dtype: int64

In [23]:
plt.bar(new_df.state, height=new_df.treatment)
plt.show()

AttributeError: 'Series' object has no attribute 'state'